h1{
	color: Chocolate;
	font-family:georgia;
	text-align:center;
}

#button{
	border-radius:10px;
	width:100px;
	height:40px;
	font-weight:bold;
	font-size:20px;
}
h2{
	color: BurlyWood;
	font-family: georgia;
	text-align: center;
	font-size: 150%;

}
h3{
	color: BurlyWood;
	font-family: georgia;
	text-align: center;
	font-size: 15px;

}
body{
	background-color: Beige;
}
.form{
	width: 300px;
	margin: 0 auto;
}